
@font-face{
    src: url('/fonts/OpenSans.woff2');
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face{
    src: url('/fonts/OpenSans.woff2');
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face{
    src: url('/fonts/OpenSans.woff2');
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}